{:deps {applied-science/js-interop {:mvn/version "0.3.3"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.14.4"}}}

  :demo {:extra-paths ["demo/src"]
         :jvm-opts ["-Dpolyglot.engine.WarnInterpreterOnly=false"]
         :extra-deps {org.babashka/sci {:mvn/version "0.3.5"}
                      reagent/reagent {:mvn/version "1.1.1"}
                      io.github.nextjournal/clerk {:git/sha "78cbd079cc36be00fd56e40deb9c02f9887ce517"}
                      ;; clerk dev deps
                      io.github.babashka/sci.configs {:git/sha "ec570cdfb2c627d0cd280a899cd915d0e89d8f7b"}
                      io.github.nextjournal/viewers {:git/sha "f4a32b05ff4382a85a3dcf66cdec89c2389ac3c8"
                                                     :exclusions [io.github.nextjournal/clojure-mode]}}}}}
