{:deps {:aliases [:dev :demo]}
 :dev-http {8001 "public"
            8002 "public/test"
            8003 "public/livedoc"}
 :nrepl {:port 9000}
 :builds {:demo {:compiler-options {:output-feature-set :es8}
                 :target :browser
                 :output-dir "public/js"
                 :asset-path "js"
                 :modules {:main {:init-fn nextjournal.clojure-mode.demo/render}}}

          :livedoc {:compiler-options {:output-feature-set :es8}
                    :target :browser
                    :output-dir "public/livedoc/js"
                    :asset-path "js"
                    :modules {:main {:init-fn nextjournal.clojure-mode.demo.livedoc/render}}}

          :test {:compiler-options {:output-feature-set :es8}
                 :target :browser-test
                 :test-dir "public/test"
                 :ns-regexp "-tests$"}

          :ci-test {:target :node-test
                    :ns-regexp "-tests$"
                    :output-dir "out"
                    :output-to "out/node-tests.js"
                    :compiler-options {:optimizations :simple}
                    :closure-defines {nextjournal.clojure-mode.util/node-js? true}
                    :js-options {:output-feature-set :es8}}}}
