{:cljc {:features [:cljs]}
 :lint-as {applied-science.js-interop/defn clojure.core/defn
           applied-science.js-interop/fn clojure.core/fn
           applied-science.js-interop/let clojure.core/let}}
